html, body {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    /*padding-top: 55px;
    padding-bottom: 55px;*/
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #f9f9f9;
    font-weight: 400;
}

.navbar {
    overflow: visible;
    margin-bottom: 10px;
}

.navbar-fixed-bottom {
    margin-bottom: 0px;
    min-height: 0px;
}

.navbar-inner, .navbar-inner {
    --webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    --moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    border: none;
    background: #fff;
}

.navbar-nav>li>a {
    padding: 10px 10px 8px;
}

.brand-bps {
    background: url(/static/images/bps.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: inline-block !important;
    width: 50%;
    height: 40px;
    padding: 0;
    margin: 5px;
    margin-right: 20px;
}

[class^="sprite-"], [class*=" sprite-"] {
    display: inline-block;
    background-image: url(/static/images/svg_png.png);
    background-position: 18px 18px;
    background-repeat: no-repeat;
}

.sprite-tools {
    background-position: -72px -54px;
    width: 18px;
    height: 18px;
}

.box {
    position: relative;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background: #ffffff;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 10px;
}